a {
  color: #1c60fe;
}

a:visited,
a.seen:visited {
  color: #8649b8;
}

a.seen {
  color: dimgrey;
}

a.deleted {
  color: darkred;
}

div.card:focus {
  border: 1px solid black;
}

video {
  width: 100%;
}

.highlight {
  color: red;
}
