<div
  (keydown)="onKeyDown($event)"
  class="d-flex flex-column align-items-center"
>
  <h3 #subredditTitle tabindex="-1" class="display-1 border-bottom mt-3 mb-3">
    r/{{ name }}
  </h3>
  <div class="d-flex flex-row">
    <button (click)="loadData()" class="btn btn-secondary">Reload</button>
    <select [(ngModel)]="sortTime" class="form-select w-auto">
      <option value="hour">Hour</option>
      <option value="day">Day</option>
      <option value="week">Week</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
      <option value="all">All time</option>
    </select>
  </div>
  <div>
    <ss-submission
      *ngFor="let submissionData of submissionDatas; index as i"
      [data]="submissionData"
      (focusEvent)="onSubmissionFocus(i)"
    ></ss-submission>
  </div>
</div>
